@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 55px;
}

header{
    background: #cc0429;
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header nav{
    height: 100%;
    padding-top: 8px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    margin-right: 1em;
}

nav a:hover{
    color: #dfae27;
}

.menu{
    padding-top: 7px;
}

main{
    padding: 40px 40px;
    background: #F4CB89;
    height: 100%;

}

.bg{
    height: 100%;
    width: 100%;
    padding: 30px 0px 77px 0px;
    background-color: white;
    border-radius: 10px;
}

form{
    text-align: center;
}

#titulo{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Glory', sans-serif;
    color: #6B0C22;
    padding-top: 1em;
    margin-bottom: 2.5em;
}

fieldset{
    border: 0;
    margin-bottom: 20px;
}

/* input, textarea, button{
    border-radius: 5px;
} */

.campo-textarea{
    margin-bottom: 1em;
}

.campo-textarea label, .nome-group label, .group label{
    margin-bottom: 1.3em;
    color: #6B0C22;
    font: normal 550 1.3em 'Glory', sans-serif;
    text-transform: uppercase;
}

.nome-group input[type = text], .nome-group input[type = tel], .nome-group input[type = email], .hour input[type = time]{
    border: 0;
	background: none;
	margin: 20px auto;
	border: 2px solid #093e52;
    width: 35em;
	padding: 10px 16px;
	color: black;
	border-radius: 24px;
    font: normal 400 1em Arial, Helvetica, sans-serif;
}

.campradio{
    margin-right: 10px;
}

.group input[type = radio]{
    margin: 1.3em 2px 0px 2px;
}

.hour label{
    margin-right: 10px;
}

.hour input[type = time]{
    width: 5em;
    font: normal 550 1em Arial, Helvetica, sans-serif;
    margin: 20px auto 0px auto;
}

.nome-group input[type = text]:focus, .nome-group input[type = tel]:focus, .nome-group input[type = email]:focus, .group input[type = time]:focus{
    background: #dfae2777;
}

.campo-textarea textarea{
    background: none;
    margin: 20px auto;
    border: 2px solid #093e52;
    width: 68em;
    min-width: 68em;
    max-width: 68em;
    height: 24em;
    padding: 15px 15px;
    color: black;
    border-radius: 10px;
    font: normal 400 1em Arial, Helvetica, sans-serif;
}

.campo-textarea textarea:focus{
    background: #dfae2777;
}

.nome-group input[type = tel]{
    text-align: end;
    width: 20em;
}

.btn{
    border: 0;
	background: none;
    text-transform: uppercase;
	margin: 20px auto;
	border: 2px solid #cc0429;
	padding: 14px 40px;
	color: black;
    font-weight: 525;
	border-radius: 24px;
}

.btn:hover{
    background: #cc0429;
    color: white;    
}

.line{
    height: 2px;
    width: 83%;
    background: #588C8C;
    margin: 35px 0px 30px 8.6%;
}

.line1{
    height: 2px;
    width: 65%;
    background: #be9523;
    margin: 30px 0px 30px 17%;
}

footer{
    background: #1F1F1F;
    height: 115px;
    width: 100%;
    position: absolute;
}

.linkslogo{
    text-align: center;
    margin-top: 20px;
}

.gmail, .gith, .esucri{
    text-decoration: none;
    margin-right: 5px;
}

.direitos{
    text-align: end;
    margin: 15px 25px 0px 0px;

}

.direitos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
}