@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 55px;
}

header{
    background: #cc0429;
    height: 65px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header nav{
    height: 100%;
    padding-top: 8px;
    text-align: center;
}

nav ul{
    padding-top: 5px;
}
nav li, nav a{
    display: inline;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    padding-right: 10px;
}

nav a:hover{
    color: #dfae27;
}
main{
    padding-top: 30px;
    background: #F4CB89;
    height: 100%;
}

.destaq{
    height: 60px;
    width: 100%;
    background: #588C8C;
}

.destaq h2{
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #E6E6E6;
    font-family: 'Glory', sans-serif;
    font-weight: 500;
}

.amostra{
    padding: 30px 0px;
}

.item1{
    margin-bottom: 30px;
}

.item1, .item2{
    background: rgb(255, 255, 255);
    height: 490px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.item1 img, .item2 img{
    border-radius: 5px 5px 0px 0px;
}

.itemlink1{
    text-decoration: none;
    color: black;
}

.desc{
    padding: 8px 0px;
}

#titlebolo, #titleming{
    margin: 2px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Glory', sans-serif;
    color: #6B0C22;
    margin-top: 35px;
}

#comentbolo, #comentming{
    margin-top: 3px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}

footer{
    background: #1F1F1F;
    height: 115px;
    width: 100%;
    position: absolute;
}

.linkslogo{
    text-align: center;
    margin-top: 20px;
}

.gmail, .gith, .esucri{
    text-decoration: none;
    padding-right: 5px;
}

.direitos{
    text-align: end;
    margin: 15px 25px 0px 0px;

}

.direitos p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
}
